h1{
    color: whitesmoke;
    background: yellow;
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
body{
    background: goldenrod;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}

#red1{
    color: red;
    font-size: 50px;
    font-weight: 900;
}
#blue2{
    color: blue;
    font-size: 25px;
    font-weight: lighter;
}

.block{
    display: inline;
    background-color: green;
}
.inline{
    display: block;
    background-color: green;
}